.casilla {
    float: left;
    width: 80px;
    height: 80px;
    margin: 0px;
}

.negra {
    background: #ad8948;
}

.blanca {
    background: #fafafa;
}

.TorreNegras {
    background-image: url('./_IMG/8080/TorreNegra.png');
}

.TorreBlancas {
    background-image: url('./_IMG/8080/TorreBlanca.png');
}

.AlfilNegras {
    background-image: url('./_IMG/8080/AlfilNegro.png');
}

.AlfilBlancas {
    background-image: url('./_IMG/8080/AlfilBlanco.png');
}

.ReyBlancas {
    background-image: url('./_IMG/8080/ReyBlanco.png');
}

.ReyNegras {
    background-image: url('./_IMG/8080/ReyNegro.png');
}

.CaballoNegras {
    background-image: url('./_IMG/8080/CaballoNegro.png');
}

.CaballoBlancas {
    background-image: url('./_IMG/8080/CaballoBlanco.png');
}

.ReinaNegras {
    background-image: url('./_IMG/8080/ReinaNegra.png');
}

.ReinaBlancas {
    background-image: url('./_IMG/8080/ReinaBlanca.png');
}

.PeonBlancas {
    background-image: url('./_IMG/8080/PeonBlanco.png');
}

.PeonNegras {
    background-image: url('./_IMG/8080/PeonNegro.png');
}